<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<div class="row" style="margin-top: 15px">
  <form class="form-inline">
    <label for="location">Location:</label>
    <input type="location" class="form-control form-control-sm mb-2 mr-sm-2" id="location">
    <label for="checkin">Check In:</label>
    <input type="num" class="form-control form-control-sm mb-2 mr-sm-2" id="dates">
    <label for="checkout">Check Out:</label>
    <input type="num" class="form-control form-control-sm mb-2 mr-sm-2" id="dates">
    <label for="poeple">Guests:</label>
    <input type="num" class="form-control form-control-sm mb-2 mr-sm-2" id="people">
    <label for="rooms">Rooms:</label>
    <input type="num" class="form-control form-control-sm mb-2 mr-sm-2" id="rooms">
    <button type="submit" class="btn btn-primary btn-sm mb-2">Submit</button>
  </form>
</div>
  <!--unfiltered optionn and images--> 
<div class="container-fluid">
  <div class="row" style="margin-top: 15px">
      <% @listings.each do |listing| %>
      
        <div class="col-sm-4">
          <%= link_to(listing) do %>
            <%= image_tag(listing.image_url) %>
            <%= link_to like_listing_path(listing), method: :put do %>
              Request
              <%= listing.get_upvotes.size %>
            <% end %>
          <% end %>
        </div>
      <% end %>
  </div> 
</div>
<br>
