<p id="notice"><%= notice %></p>
<p><%= @listing.user.name %></p>
<p><%= @listing.title %></p>
<p><%= @listing.location %></p>
<p><%= @listing.image_url %></p>
<p><%= @listing.house_type %></p>
<p><%= @listing.start_date %></p>
<p><%= @listing.end_date %></p>

<%= image_tag(@listing.image_url) %>
<%= link_to @listing.user.name, user_path(@listing.user.id) %>
<%= link_to like_listing_path(@listing), method: :put do %>
  Request
  <%= @listing.get_upvotes.size %>
<% end %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
